<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/cloudmine.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <!--script till inlogg-->
    @section scripts {
        <link rel="stylesheet" href="~/css/tempLoginCss.css" asp-append-version="true" />
    }

    <script src="~/js/TokenLogin.js"></script>
    <hr />
    <!--script till inlogg end-->
    <div class="container">

        <!--Dold div till inlogg-->
        <div class="overlay" id="overlay" style="display:none;"></div>

        <div class="box" id="box">
            <a class="boxclose" id="boxclose"></a>
            <h1>Login</h1>
            <form id="Loginform" enctype="multipart/form-data">
                <p>Name:</p> <input type="text" name="mail" style="color:black" required> <br />
                <p>Password:</p> <input type="password" name="pword" style="color:black" required> <br />
                <input id="InputLoginButton" type="submit" onchange="this.form.submit()" value="Login" />
            </form>
        </div>

        <div class="box" id="boxRegister">
            <a class="boxclose" id="boxRegisterclose"></a>
            <h1>Register new user</h1>
            <form id="Registerform" enctype="multipart/form-data">
                <p>Name:</p> <input type="text" name="mail" style="color:black" required> <br />
                <p>Password:</p> <input type="password" name="pword" style="color:black" required> <br />
                <p>Password:</p> <input type="password" name="repword" style="color:black" required> <br />
                <input id="InputRegisterButton" type="submit" onchange="this.form.submit()" value="Register" />

            </form>
        </div>

        <div class="box" id="boxErrorRegister">
            <a class="boxclose" id="boxErrorclose"></a>
            <h1>Error Register new user</h1>
            <br />
            <p class="result"></p> 

                <a href="#" id="" class="registerUser">Try register again</a>

        </div>

        <div class="box" id="boxErrorLogin">
            <a class="boxclose" id="boxErrorLoginclose"></a>
            <h1>Error login user</h1>
            <br />
            <p class="result"></p> 
             
                <a href="#" id="" class="signinuseragain">Try sign in again</a>
            
        </div>
     
        <!--Dold div till inlogg end-->


        <div class="navbar">
            <div class="col-lg-3">
            </div>
        </div>

        <div class="col-lg-2">
            <aside class="submenu">
                <div class="modal">I'm the Modal Window!</div>
                <h4><span class="glyphicon glyphicon-cd"> Function</span></h4>
                <h4><span class="glyphicon glyphicon-road"> Function</span></h4>
                <h4><span class="glyphicon glyphicon-time"> Cloud</span></h4>
                <h4><span class="glyphicon glyphicon-trash"> Cloud</span></h4>
            </aside>
        </div>
        <div class="col-lg-10">

            <!--knapp till inlogg-->
            <div class="row col-md-12">
                <a href="#" id="idLogInButton" class="">Login</a>
                <a href="#" id="idSignOutButton" class="hidden">Sign Out</a>
                <a href="#" id="" class="registerUser">Register</a>
            </div>
            <!--knapp till inlogg end-->

            <br />
            <div class="col-lg-4">
                <form id="firstForm" enctype="multipart/form-data">
                    Name: <input type="text" name="mailx" style="color:black">
                    Password: <input type="password" name="pwordx" style="color:black">
                    <input id="uploadFile" type="submit" onchange="this.form.submit()" value="Register" />
                </form>
            </div>

            <div class="col-lg-4">
                <form id="secondForm" enctype="multipart/form-data">
                    Name: <input type="text" name="mail" style="color:black">
                    Password: <input type="password" name="pword" style="color:black">
                    <input id="uploadFile" type="submit" onchange="this.form.submit()" value="get token button" />
                </form>
            </div>

            <div class="col-lg-4">
                <form id="thirdForm" enctype="multipart/form-data">
                    Name: <input type="text" name="mail" style="color:black">
                    Password: <input type="password" name="pword" style="color:black">
                    <input id="uploadFile" type="submit" onchange="this.form.submit()" value="sen static fileitem" />
                </form>
            </div>

        </div>

    </div>
</body>
</html>