<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/cloudmine.css" />
</head>
<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="~/js/checksum.js"></script>
    <script src="~/js/fileuploader.js"></script>
    <script src="~/js/progressbar.js"></script>
    <script src="~/js/appendhtml.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/draganddrop.js"></script>
    <hr />

    <div class="container" id="dropzone">
        <div class="navbar">
            <div class="col-lg-2">
                <form enctype="multipart/form-data">
                    <label for="uploadFile" class="uploadbutton">
                        Upload
                    </label>
                    <input id="uploadFile" type="file" multiple="multiple" onchange="this.form.submit()" />
                </form>
            </div>
            <div class="col-lg-7">
                <div class="input-group" id="search">
                    <input type="text" class="form-control" placeholder="Search by filename...">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                    </button>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#"><h4>Login/Username</h4></a>
            </div>
        </div>


        <div class="col-lg-2">
            <aside class="submenu">
                <h4><span class="glyphicon glyphicon-cd"> Function</span></h4>
                <h4><span class="glyphicon glyphicon-road"> Function</span></h4>
                <h4><span class="glyphicon glyphicon-time"> Cloud</span></h4>
                <h4><span class="glyphicon glyphicon-trash"> Cloud</span></h4>
            </aside>
        </div>
        <div class="col-lg-10">
            <section class="filelist">
                <table id="filetable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>A</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <br />
            </section>
        </div>
    </div>

    <!--Progress-div som visas när en upload startar-->
    <div id="progressDiv">
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" id="progressBar">
            </div>
        </div>
        <div id="filelabel"></div>
    </div>
    <br />
</body>
</html>