@model CloudMineServer.Models.MainViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form enctype="multipart/form-data">
    <input type="file" id="uploadFile" name="file" />  <a class="btn btn-primary" href="#" id="btnUpload">Ladda Upp!</a>
</form>

<div>
    <a href="~/api/filechunk">Download my files again baby</a>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/fileuploader.js" asp-append-version="true"></script>
