@model CloudMineServer.Models.MainViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form enctype="multipart/form-data">
    <input type="file" id="uploadFile" name="file" />  <a class="btn btn-primary" href="#" id="btnUpload">Ladda Upp!</a>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>



<script src="~/js/fileuploader.js"></script>
