.container {
    min-width: 620px;
    border: 1px solid black;
    padding: 20px 10px 10px 10px;
    border-radius: 25px;
    color: white;
    background-color: #001a33;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input,
select,
textarea {
    max-width: 280px;
}

    input[type="file"] {
        display: none;
    }
    input[type="number"]{
        max-width: 40px;
        display:inline;
    }

.uploadbutton {
    background-color: aliceblue;
    border-radius: 20px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: lightgrey 2px 2px;
}

.submenu {
    padding: 10px;
    background-color: aliceblue;
    color: black;
    border-radius: 20px;
}

.filelist {
    padding: 10px;
    background-color: aliceblue;
    border-radius: 20px;
    color: black;
}

#filetable {
    min-width: 550px;
    width: 100%;
}

    #filetable th {
        width: auto;
        padding-right: 10px;
        cursor: default;
        font-size: 1.2em;
        color: black;
        background-color: aliceblue;
    }

    #filetable tr:nth-child(odd) {
        height: 35px;
        background-color: #001a33;
        color: white;
        border-radius: 20px;
    }

    #filetable tr:nth-child(even) {
        height: 35px;
        background-color: lightcyan;
        border-radius: 20px;
    }

.custom-file-upload {
    background-color: #008CBA;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#search {
    display: inline;
}

.progress-bar {
    height: 16px;
}
#loading {
    border: 1px solid black;
    border-radius: 20px;
    width: 160px;
    height: 60px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 auto;
    background-color: aliceblue;
    text-align: center;
}
#userInfo{
    color: white;
    float: left;
}
#idSignOutButton{
    float: right;
}

.paginationDiv {
    position: relative;
    text-align: center;
}
.progress{
    text-align: center;
}

.progress-value {
    position:absolute;
    right:0;
    left:0;
}

#storageData{
    font-weight: bold;
}
