@model CloudMineServer.API_server.Controllers.UserInfo

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Model.UserName</h4>
        <hr />
        

        <div class="form-group">
           <label asp-for="StorageSize" class="col-md-2 control-label"></label>
            <div class="col-md-10">

                <input asp-for="StorageSize" class="form-control" type="text" />
                
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="AdminIndex">Back to List</a>
</div>
