@model IEnumerable<CloudMineServer.API_server.Controllers.UserInfo>
@{
    ViewData["Title"] = "Home Page";

}

@section scripts{
 
    <link rel="stylesheet" href="~/css/tempLoginCss.css" />
    <link rel="stylesheet" href="~/css/cloudmine.css" />
    <link rel="stylesheet" href="~/css/admincss.css" />


    <script src="~/js/progressbar.js"></script>
    <script src="~/js/appendhtml.js"></script>
    <script src="~/js/apihelper.js"></script>
    <script src="~/js/TokenLogin.js"></script>
    <script src="~/js/checksum.js"></script>
    <script src="~/js/"></script>
    <script src="~/js/draganddrop.js"></script>
    <script src="~/js/site.js"></script>
    <hr />
    }


    <div class="row" style="margin:50px 0px 0px 40px">
        <h4>Adminportal</h4>
       <input type="submit" value="Hantera användare" onclick="location.href='@Url.Action("AdminIndex", "Home")'" />
        <br />
        <br />
    </div>
    <div class="container" id="dropzone">
        <!--div's Signin-->
        <div class="overlay" id="overlay" style="display:none;"></div>

        <div class="box hidden" id="box">
            <a class="boxclose" id="boxclose"></a>
            <h1>Login</h1>
            <form id="Loginform" enctype="multipart/form-data">
                <p>Name</p> <input type="text" name="mail" style="color:black" required> <br />
                <p>Password</p> <input type="password" name="pword" style="color:black" required> <br />
                <button type="submit" id="InputSigninButton" data-loading-text="Signing in..." class="btn btn-primary" autocomplete="off">Log in</button>
            </form>
        </div>

        <div class="box hidden" id="boxRegister">
            <a class="boxclose" id="boxRegisterclose"></a>
            <h1>Register new user</h1>
            <form id="Registerform" enctype="multipart/form-data">
                <p>Name</p> <input type="text" name="mail" style="color:black" required> <br />
                <p>Password</p> <input type="password" name="pword" style="color:black" required> <br />
                <p>Retype password</p> <input type="password" name="repword" style="color:black" required> <br />
                <button type="submit" id="InputRegisterButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">Register</button>
            </form>
        </div>

        <div class="box hidden" id="boxErrorRegister">
            <a class="boxclose" id="boxErrorclose"></a>
            <h1>Error register new user</h1>
            <br />
            <p class="result"></p>
            <a href="#" id="" class="registerUser">Try register again</a>
        </div>

        <div class="box hidden" id="boxErrorLogin">
            <a class="boxclose" id="boxErrorLoginclose"></a>
            <h1>Error log in</h1>
            <br />
            <p class="result"></p>
            <a href="#" id="" class="signinuseragain">Try sign in again</a>
        </div>
        <!--END div's signin-->
       
            <div class="col-lg-3">
                <!--<a href="#"><h4>Login/Username</h4></a>-->
                <!--knappar till inlogg-->
                <div class="row col-md-12">
                    <a href="#" id="idLogInButton" class="LogInButtonClass">Login</a>
                    <a href="#" id="idSignOutButton" class="hidden SignOutButton">Sign Out</a>
                    <a href="#" id="" class="registerUser">Register</a>
                </div>
                <!--knappar till inlogg end-->
            </div>
        </div>


       
    




  
