@model IEnumerable<CloudMineServer.API_server.Controllers.UserInfo>
@{
    ViewData["Title"] = "Home Page";

}

    

    <h4>Admin-portal - no fancy views here</h4>
    <div class="row">

        <input type="submit" value="Hantera användare" onclick="location.href='@Url.Action("AdminIndex", "Home")'" />
        <br />
        <br />
    </div>
   


  
