@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <h4>Admin-portal - no fancy views here</h4>
    <a href="~/Chat.html">Chat-Test</a>
</div>

<div>
    <form>
        <input type="file" name="file" id="selectedfile" value="Choose file" />
        <br />
        <label for="file">Filename</label>
        <input type="text" name="FileName" id="FileName" />
        <br />
        

        Private: <input type="radio" name="filesharing" id="priv" checked value="Private" />
        <br />
        Public: <input type="radio" name="filesharing" id="publ" value="Public" />
        <br />
        <br />
        <input type="button" id="engage" value="Upload File" />

    </form>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery">
</script>
<script src="~/js/checksum.js" asp-append-version="true"></script>
<script src="~/js/fileuploader.js" asp-append-version="true"></script>