<h2><a href="~/Chat.html">Test SignalR - V2 - ASP.NET CORE</a></h2>

<div class="navbar-fixed-top">
    @*sökruta ska läggas in här*@
</div>
<aside class="submenu">
    @*mitt moln - meny för delade filer, inställningar m.m*@
</aside>

<section class="filelist">
    @*Listan med filer samt download-funktionalitet för varje rad*@
</section>

<section>
    @*detaljerad info om markerad fil, uppladdningsdatum m.m*@
</section class="filedetails">